/* Implementa las líneas necesarias en el CSS para que cuando el ratón pase por encima del botón ocurra lo siguiente (hover):

El botón se traslade -5px en el eje de las Y

Se añada una sombra

El color de fondo del botón cambie

El color del texto cambie

Todo esto con una transición de 0.4s  */
body{
    padding: 0;
    margin: 0;
    display: flex;
   justify-content: center;
   align-items:center;
   min-height: 100vh;
}
.contenedor {
    box-shadow:40px ;
}

.btn-modern{
    height: 50px;
    width: 70px;
    border-radius: 10px;;
}

.btn-modern:hover {
    
    transform: translateY(-5px);
    box-shadow: 2px 3px 2px black;
    background-color: aqua;
    color: blue;
    transition: all .4s;
    
}